<#@ template inherits="ETemplate" debug="False" language="VB" #>
<?xml version="1.0" encoding="utf-8"?>
<extension type="<#= Value("Extension.extensionType") #>" version="<#= Value("Extension.joomlaVersion") #>" client="<#= Value("Extension.client") #>" method="<#= Value("Extension.intallMethod") #>">
	<name><#= Ext.GenText(Value("Extension.fullName"), Value("Extension.label"), Ext.LangFiles.Item("item.sys")) #></name>
	<author><#= Value("Extension.author") #></author>
	<creationDate><#= Today.Date #></creationDate>
    <copyright><#= Value("Extension.copyright") #></copyright>
    <license><#= Value("Extension.license") #></license>
    <authorEmail><#= Value("Extension.authorEmail") #></authorEmail>
    <authorUrl><#= Value("Extension.authorUrl") #></authorUrl>
    <version><#= Value("Extension.version") #></version>
    <description><#= Value("Extension.description") #></description>
	<files folder="<#= Value("Extension.fullName") #>">
	</files>
	<!-- Media files -->
	<media destination="<#= Value("Extension.fullName") #>" folder="media">
	</media>
	<languages folder="language">
		<language tag="en-GB">en-GB.<#= Value("Extension.fullName") #>.ini</language>
		<language tag="en-GB">en-GB.<#= Value("Extension.fullName") #>.sys.ini</language>
	</languages>
	<config>
		<fields
			name="params">
			<fieldset
				name="basic"
				label="Basic">
			</fieldset>
			<fieldset
				name="advanced">
				<field
					name="layout"
					type="modulelayout"
					label="JFIELD_ALT_LAYOUT_LABEL"
					description="JFIELD_ALT_MODULE_LAYOUT_DESC" />
				<field
					name="moduleclass_sfx"
					type="text"
					label="COM_MODULES_FIELD_MODULECLASS_SFX_LABEL"
					description="COM_MODULES_FIELD_MODULECLASS_SFX_DESC" />
				<field
					name="cache"
					type="list"
					default="1"
					label="COM_MODULES_FIELD_CACHING_LABEL"
					description="COM_MODULES_FIELD_CACHING_DESC">
					<option
						value="1">JGLOBAL_USE_GLOBAL</option>
					<option
						value="0">COM_MODULES_FIELD_VALUE_NOCACHING</option>
				</field>
				<field
					name="cache_time"
					type="text"
					default="900"
					label="COM_MODULES_FIELD_CACHE_TIME_LABEL"
					description="COM_MODULES_FIELD_CACHE_TIME_DESC" />
			</fieldset>
		</fields>
	</config>
</extension>